@{
    ViewData["Title"] = "Home Page";
}

<div class="input-zone">
    <label id="lblMessage" for="tbMessage">Message:</label>
    <p>Message</p>
    <input id="tbMessage" class="input-zone-input" type="text" />
    <p>User</p>
    <input id="tbUser" class="input-zone-input" type="text" />
    <button id="btnSend">Send</button>
</div>

<div id="divMessages" class="messages">
</div>


<script src="~/js/main.js" asp-append-version="true"></script>