@{
    ViewData["Title"] = "Home Page";
}

<div id="divMessages" class="messages">
</div>
<div class="input-zone">
    <label id="lblMessage" for="tbMessage">Message:</label>
    <input id="tbMessage" class="input-zone-input" type="text" />
    <button id="btnSend">Send</button>
</div>



<script src="~/js/main.3d3c231dfb9c94a024ad.js" asp-append-version="true"></script>