@{
    ViewData["Title"] = "Index";
}

<div id="messages" class="list-group pt-lg-5"></div>


<div class="input-group">
    <input id="tbMessage" type="text" class="form-control" placeholder="Type here" aria-label="Text input with dropdown button">
    <input id="tbUser" type="text" class="form-control" placeholder="Username" aria-label="Text input with dropdown button">
    <div class="input-group-append">
        <span class="input-group-text text-black-50" id="currentGroup">#myGroup</span>
        <button class="btn btn-outline-secondary" id="previous" type="button" aria-expanded="false" disabled>Prev</button>
        <button class="btn btn-outline-secondary" id="next" type="button" aria-expanded="false" disabled>Next</button>
        <button class="btn btn-outline-secondary" id="btnSend" type="button" aria-expanded="false" disabled>Send</button>
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options</button>
        <div class="dropdown-menu">
            <button class="dropdown-item"> Action</button>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
        </div>
    </div>
</div>

<script src="~/js/main.js"></script>
